html,
#page {
    padding: 0;
    margin: 0;
    background: #eee;
}

body {
    margin: 0;
    padding: 0;
    width: 700px;
    color: #959595;
    font: normal 12px/2.0em Sans-Serif;
    margin-left:auto;
    margin-right:auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: darkblue;
}


#header,
#footer,
#content,
#content #contentbar,
#content #sidebar {
    margin: 0;
    padding: 0;
}


/* Logo */

#logo {
    width: auto;
    float: left;
}

#logo h1 a,
h1 a:hover {
    color: darkblue;
    text-decoration: none;
}

#logo h1 span {
    color: #d3d3f9;
}


/* Header */

#header {
    background: #eee;
}

#header-top {
    background-color: #26364d;
    width: 100%;
    height: 33px;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
}

#header-inner {
    margin: 0 auto;
    /* padding: 10px; */
    width: 100%;
    background: #fff;
    height: 73px;
    border-bottom-width: 2px;
    border-bottom-color: #3b3a3a;
}

#header-inner div.title {
/*    color: #26364d;*/
    vertical-align: middle;
    height: 100%;
    padding-top: 30px;
    text-align: center;
    font-size: 21.8182px;
    border-bottom: 2px solid #ccc!important;
}

.warning {
    /*    color: #26364d;*/
    vertical-align: middle;
    padding-top: 100px;
    margin-left: auto;
    text-align: center;
    font-size: 22px;
    border-bottom: 2px solid #ccc!important;
}


/* Content */

#content-inner {
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    background: #fff;
    /* background: url(../img/background.jpg) no-repeat center center fixed;  */
    height: 450px;
    position: relative;  /* VIGO, to enable centering of inner div*/
}

#content #contentbar {
    margin: 0;
    padding: 0;
    float: right;
    width: 100%;
}

#content #contentbar .article {
    margin: 0 0 24px;
    padding: 0 20px 0 15px;
}

#content #sidebar {
    padding: 0;
    float: left;
    width: 200px;
}

#content #sidebar .widget {
    margin: 0 0 12px;
    padding: 8px 8px 8px 13px;
    line-height: 1.4em;
}

#content #sidebar .widget h3 a {
    text-decoration: none;
}

#content #sidebar .widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
    color: #959595;
}

#content #sidebar .widget ul li {
    margin: 0;
}

#content #sidebar .widget ul li {
    padding: 4px 0;
    width: 185px;
}

#content #sidebar .widget ul li a {
    color: blue;
    text-decoration: none;
    margin-left: -16px;
    padding: 4px 8px 4px 16px;
}

#content #sidebar .widget ul li a:hover {
    color: #d3d3f9;
    font-weight: bold;
    text-decoration: none;
}

section.container-fluid{
    left: 50%;
    padding: 2rem;
}

.tile {
    height: 200px;
    margin: 5px;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    height: 150px; 
    text-align: center;
    background-color: rgba(59, 58, 58, 0.1);
}

.tile-link {
    display:inline-block;
    margin-top: 25%;
}


/* Footerblurb */

#footerblurb {
    background: #eee;
    color: whitesmoke;
}

#footerblurb-inner {
    margin: 0 auto;
    width: 100%;
    padding: 10px;
    background: #26364d;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
}

#footerblurb .column {
    margin: 0;
    text-align: justify;
    float: left;
    width: 250px;
    padding: 0 24px;
}


/* Footer */

#footer {
    background: #eee;
}

#footer-inner {
    margin: auto;
    text-align: center;
    padding: 12px;
    width: 100%;
}

#footer a {
    color: blue;
    text-decoration: none;
}


/* Clear both sides to assist with div alignment  */

.clr {
    clear: both;
    padding: 0;
    margin: 0;
    width: 100%;
    font-size: 0px;
    line-height: 0px;
}

/* patients.html*/

.section-heading{
    color: black;
    margin-top: 5px;
    margin-bottom: 0px;
}

#input{
    background-color: white;
    border-bottom: 2px solid #ccc!important;
}

button.btn.btn-info.btn-lg{
    background-color: #1a3262;
}

.text-faded{
    color: #ccc;
}

section#result > div.container{
    width: 555px;
}

/* Patient table*/

.homeLogo {
    float: right;
}

label.col-sm-2 {
    width: 20%;
}

div.col-sm-4 {
    width: 60%;
}

div.table-container {
    margin-top: 20px;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
}

#form div.container {
    width: 100%;
}

table {
  width: 100%;  
  font-family: "Helvetica Neue", Helvetica, sans-serif
}

caption {
  text-align: left;
  color: silver;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px;
}

thead {
  background: SteelBlue;
  color: white;
}

.colMaxsize {
    width: 33%;
}

th,
td {
  padding: 5px 10px;
}

tbody tr:nth-child(even) {
  background: WhiteSmoke;
}

tbody tr td:nth-child(2) {
  text-align:center;
}

tbody tr td:nth-child(3),
tbody tr td:nth-child(4) {
  text-align: right;
  font-family: monospace;
}

.img-circle {
    border-radius: 50%;
}

